@charset "utf-8";
@import url("default.css");


#bodyer {
	background:url("../images/bg_about.png") top left no-repeat;
}

#title{
	margin-bottom: 56px;
}


#titleTour{
	float: left;
	margin-left: 196px;
}

#logos{
	/*margin-left: 20px;*/
}

#network, #location{
	position: absolute;
	left: 700px;
}

#network{
	top: 320px;
}

#location{
	top: 480px;
}