@charset "utf-8";

#fnb{
	margin-left: 64px;
}

#fnb ul li{
	float: left;
	margin-top: 18px;
	margin-right: 15px;
}

#address{
	margin-top: 13px;
/*	margin-left: 10px;*/
	margin-left: 64px;
}

#copyright{
	float: right;
	margin-top: 20px;
	margin-right: 64px;
}