@charset "utf-8";
@import url("default.css");

#bodyer{
	background: url("../images/bg_main0.png") no-repeat;
	padding: 0px;
	height: 734px;
	position: relative;
}

.title_img{
	margin: 219px 0 10px 320px;
}

#mainTxt{
	/*여행상품 설명*/
	margin: 155px 0 20px 320px;
	width: 450px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	
}

#main p strong{
	/*여행상품이름*/
	font-size: 25px;
	letter-spacing: -2px;
	font-family: Verdana, "나눔명조", "맑은 고딕", "돋움", Dotum, "굴림";
	/*color: #ff8700;*/
}

.btn_detailView{
	margin-left: 320px;
}

#bottomNav{
	position: absolute;
	bottom: 0px;
	height: 83px;
	left: 64px;
	/*background-color: #000;*/
}

#bottomNav ul li{
	float: left;
	width: 256px;
	margin-top: 15px;
	font-size: 12px;
	font-weight: bold;
	line-height:18px;
}

#bottomNav p{
	margin-left: 12px;
	color: #bfb3a2;
	letter-spacing: -1px;
}

#bottomNav strong{
	/*나라명칭*/
	padding-top: 5px;
	font-size: 15px;
	font-family: Verdana, "맑은 고딕", "돋움", Dotum, "굴림";
	color: #7c705a;
}

#bottomNav img, #bottomNav p{
	float: left;
	height: 53px;
}

#bottomNavBg{
	position: absolute;
	bottom: 0px;
	background-color: #000;
	width: 1152px;
	height: 83px;
	filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; /*반투명효과*/
}

/* color on: #ff8700 , color off: #c0b4a4 */